/* Begin Navbar *************/


/* Background color */

.navbar-inverse {
    background-color: #ffffff;
    border: 1px;
    padding: auto;
    -webkit-border-radius: 0px 0px 4px 4px;
    -moz-border-radius: 0px 0px 4px 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

.navbar-inverse .navbar-brand {
    -webkit-border-radius: 0px 0px 0px 4px;
    -moz-border-radius: 0px 0px 0px 4px;
}


/* BurgerMenu */

.navbar-inverse .navbar-toggle,
.navbar-inverse .navbar-toggle:focus {
    background-color: #FFCE54;
    border-color: #FFCE54;
    border-radius: 0;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #ffffff;
}


/* End of burger menu */


/* Profil cellule icon */

#profile-li span {
    margin-right: 7px;
}


/* Logout cellule icon */

#navbar-logout i {
    font-size: 14px;
    top: 2px;
}


/* FONT COLOR */

.navbar-inverse .navbar-nav>li>a {
    font-weight: 700;
    color: #434a54;
}


/* The form input */

.navbar-inverse .btn {
    font-weight: 700;
    background-color: #434a54;
    border-color: #434a54;
}

.navbar-inverse .form-control {
    padding-right: 30px;
}

.navbar-inverse .form-search .search-query {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border-left: 0px;
    -webkit-border-radius: 0px 4px 4px 0px;
    -webkit-border-radius: 0px 4px 4px 0px;
    -webkit-box-shadow: inset 2px 2px 1px rgba(0, 0, 0, .1);
    -moz-box-shadow: inset 2px 1px 2px rgba(0, 0, 0, .1);
}

.navbar-inverse .btn {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}


/* End of the form */


/* When Hover, BACKGROUND COLOR */

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-brand:hover {
    background-color: #4A89DC;
    border-color: #4A89DC;
    color: #ffffff;
}

.navbar-inverse .navbar-brand:hover {
    border-bottom-left-radius: 4px;
    -webkit-border-radius: 0px 0px 0px 4px;
    -moz-border-radius: 0px 0px 0px 4px;
}

.navbar-inverse .navbar-nav>li>#navbar-logout:hover {
    background-color: #DA4453;
    color: #ffffff;
    border-bottom-right-radius: 4px;
    -webkit-border-radius: 0px 0px 4px 0px;
    -moz-border-radius: 0px 0px 4px 0px;
}


/* HIREANEMPLOYEE TITLE */

.navbar-inverse .navbar-brand {
    font-size: 24px;
    font-weight: 700;
    background-color: #FFCE54;
    color: #ffffff;
}


/* Liste margin */

.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-nav>li>form .input-group {
    padding-right: 26px;
    padding-left: 26px;
}


/* Making the a filling all the li for the background color */

.navbar-inverse .navbar-nav>li>a {
    width: auto;
}

#navbar-logout {
    font-weight: 500;
    color: #7d8a9b;
    padding-right: 26px;
    padding-left: 26px;
}

@media (max-width:990px) {
    .navbar-inverse .navbar-nav>li>a,
    .navbar-inverse .navbar-nav>li>form .input-group {
        padding-right: 13px;
        padding-left: 13px;
    }
    #navbar-logout #logout-text {
        display: none;
    }
    #navbar-logout {
        padding-left: 13px;
    }
}


/*** COLLAPSE ***/

.navbar-inverse .navbar-collapse,
.navbar-collapse .navbar-form {
    border: 0;
}


/* END Navbar *************/


/* BEGIN Top Photo *************/

.top-photo {
    height: 150px;
    align-content: center;
}

.top-photo a {
    display: inline-block;
    margin-top: 40px;
    color: #434a54;
    font-weight: 100;
}

.top-photo a:hover {
    color: #5D9CEC;
}

.top-photo span {
    top: 3px;
    margin-right: 6px;
}


/* BEGIN Pannel *************/

.panel-blue {
    background-color: #ffffff;
}



.panel-blue .panel-heading {
    height: 50px;
    padding: auto;
    padding-top: 16px;
}

/* Panel-blue transition */
.panel-blue img,
.panel-blue .panel-heading {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.panel-blue:hover {
    background-color: #FFFFFC;
}

.panel-blue img {
    top: 0px;
    position: relative;
}

.panel-blue:hover img {
    top: -4px;
    -webkit-box-shadow: 2px 4px 8px rgba(0, 0, 0, .1);
    -moz-box-shadow: 2px 4px 8px rgba(0, 0, 0, .1);
}

.panel-blue .panel-title {
    font-weight: 700;
    font-size: 15px;
    color: #434a54;
    margin-top: 10px;
    margin-left: 16px;
}


.panel-blue .panel-body-title {
    margin-top: 10px;
}


/* END Panel ***********/


/* BEGIN Description panel ********/

#add-relation span {
    font-size: 11px;
}


/* END Description panel **********/


/* BEGIN CV left row *************/

#cv-content {
    position: relative;
    animation: fadein 0.4s;
}

@keyframes fadein {
    from {
        opacity: 0;
        top: -40px;
    }
    to {
        opacity: 1;
        top: 0px;
    }
}


@keyframes collapse-out-cv  {
    from {
        max-height: 0px;
    }
    to {
        max-height: 2000px;
    }
}


/* END CV left row **********/


/* BEGIN Footer *************/


/* Used to marging right after the logo footer on the small screen */

#footer-logo-div {
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 100px;
}

#footer-logo-div >a {
    color: #FFCE54;
}

.footer-copyright {
    font-size: 14px;
}

.footer {
    background-color: #434a54;
}

body {
    font-size: 16px;
}

.row-strip {
    padding-left: 0px;
    padding-right: 0px;
}

.btn-default {
    background-color: #5D9CEC;
    color: #ffffff;
    border: #5D9CEC;
    top: 0px;
    padding: 8px 10px 8px 8px;
    font-weight: 600;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.btn-default:hover {
    top: -3px;
    background-color: #4A89DC;
    color: #ffffff;
}


/* BEGIN Typographie ********/

.small-text {
    font-size: 14px;
    color: #7d8a9b;
}


/* END Typographie ********/


/* CV page */


/*
.demo {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

#equalheight {
    overflow: hidden;
}
*/