/* Useful to choose the grayscale antialiasing algorithm
during CSS animations */

html {
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: #f0f3f6;
}

#connection_body {
    background-color: #2998cd;
}

/* All body content but the footer and navbar&notifications */

#body-content {
    animation: opacityin 0.5s linear;
}

@keyframes opacityin {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}


/* Begin Navbar *************/


/* Background color */

.navbbar-top {
    position: fixed;
    z-index: 99999;
    width: 100%;
    /*font-size: 25px;*/
    text-align: center;
}


/* For the notification bug (could not collapsed on large screen) */

.navbbar-top .col-lg-12 {
    float: none;
}

.navbar-inverse {
    background-color: rgb(74, 74, 74);
    padding: auto;
    border: 1px solid rgba(170, 178, 189, 0.48);
    /*height: 51px;*/
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border: 0;
    /* Delet if no need */
    margin-bottom: 0;
}


/*
.navbar-inverse .navbar-brand {
    -webkit-border-radius: 0 0 0 4px;
    -moz-border-radius: 0 0 0 4px;
}*/


/* BurgerMenu */

.navbar-inverse .navbar-toggle,
.navbar-inverse .navbar-toggle:focus {
    background-color: #5D9CEC;
    border-color: #5D9CEC;
    border: 0;
    margin: 0;
    width: 50px;
    height: 50px;
    border-radius: 0;
    padding: 13px;
    opacity: 0.9;
    transition: opacity 0.2s linear;
}

.navbar-inverse .navbar-toggle:hover {
    background-color: #5D9CEC;
    opacity: 1;
    transition: opacity 0.2s linear;
}

.navbar-inverse .navbar-toggle .icon-bar {
    width: 24px;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #ffffff;
}


/* End of burger menu */


/* Profil cellule icon */

#profile-li span {
    margin-right: 7px;
}


/* Logout cellule icon */

#navbar-logout i {
    font-size: 14px;
    top: 2px;
}


/* FONT COLOR */

.navbar-inverse .navbar-nav > li > a {
    font-weight: 700;
    color: #ffffff;
    /* color: #434a54;*/
}


/* The form input */

.navbar-inverse .btn {
    font-weight: 700;
    background-color: #2998cd;
    border-color: #2998cd;
}

.navbar-inverse .btn:hover {
    background-color: #299fd8;
    border-color: #299fd8;
}

.navbar-inverse .form-control {
    padding-right: 30px;
    border: 0;
}

.navbar-inverse .form-search .search-query {
    padding-left: 15px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, .1);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, .1);
}

.navbar-inverse .btn {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}



/* End of the form */


/* When Hover, BACKGROUND COLOR */

.navbar-inverse .navbar-brand:hover {
    background-color: #299fd8;
}

.navbar-inverse .navbar-nav > li > a:hover {
    background-color: #2998cd
}

/*
.navbar-inverse .navbar-brand:hover {
    border-bottom-left-radius: 4px;
    -webkit-border-radius: 0 0 0 4px;
    -moz-border-radius: 0 0 0 4px;
}*/

.navbar-inverse .navbar-nav > li > #navbar-logout:hover,
.navbar-inverse .navbar-nav > li.open > #navbar-logout:hover {
    background-color: #DA4453;
    color: #ffffff;
    border-bottom-right-radius: 4px;
    -webkit-border-radius: 0 0 4px 0;
    -moz-border-radius: 0 0 4px 0;
}

.navbar-inverse .navbar-nav > li.open > #navbar-logout,
.navbar-inverse .navbar-nav > li.open > a {
    background-color: white;
}


/* HIREANEMPLOYEE TITLE */

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-brand:focus {
    font-size: 24px;
    font-weight: 700;
    padding: auto 18px;
    background-color: #2998cd;
    ;
    color: #ffffff;
}

.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-nav > li > form .input-group {
    padding-right: 26px;
    padding-left: 26px;
}


/* Making the a filling all the li for the background color */

#navbar-logout {
    font-weight: 500;
    color: #ffffff;
    padding-right: 26px;
    padding-left: 26px;
}

@media (min-width: 768px) and (max-width: 922px) {
    .navbar-inverse .navbar-nav > li > a,
    .navbar-inverse .navbar-nav > li > form .input-group {
        padding-right: 13px;
        padding-left: 13px;
    }
    #navbar-logout #logout-text {
        display: none;
    }
}


/* Menu burger */

@media (max-width: 767px) {
    .navbar-inverse .navbar-nav > li > a,
    .navbar-inverse .navbar-nav > li > form .input-group {
        padding-right: 13px;
        padding-left: 13px;
    }
    .navbar-inverse .navbar-nav > li {
        border: 0;
    }
    .navbar-inverse .navbar-nav > li > form .input-group {
        margin: auto;
        width: 100%;
    }
  /*  .navbar-inverse .navbar-nav #navbar-input:hover {
        background-color: #000000;
    } */
    #navbar-logout #logout-text {
        /* display: none;*/
    }
}


/*** COLLAPSE ***/

.navbar-inverse .navbar-collapse,
.navbar-collapse .navbar-form {
    border: 0;
}


/* END Navbar *************/

h1,
h2,
h3,
h4,
h5,
p {
    color: #333;
}


/* BEGIN Top Photo *************/

.top-photo {
    height: 201px;
    align-content: center;
}

.top-photo a {
    display: inline-block;
    margin-top: 91px;
    color: #434a54;
    font-weight: 100;
}

.top-photo a:hover {
    color: #5D9CEC;
}

.top-photo span {
    top: 3px;
    margin-right: 6px;
}


/* BEGIN Pannel *************/

.panel-blue {
    background-color: #ffffff;
}

.panel-blue .panel-heading {
    height: 70px;
    padding: 16px auto auto;
}


/* Panel-blue transition */

.panel-blue img {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.panel-blue .panel-heading {
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

.panel-blue:hover {
    /* background-color: #c2deff; */
    /* background-color: #FFFFFC; */
}

.panel-blue img {
    top: 0;
    position: relative;
}

.panel-blue:hover img {
    top: -8px;
    -webkit-box-shadow: 2px 4px 8px rgba(0, 0, 0, .1);
    -moz-box-shadow: 2px 4px 8px rgba(0, 0, 0, .1);
}

.panel-blue .panel-title .glyphicon {
    font-size: 160%;
}

.panel-blue .panel-title {
    font-weight: 700;
    font-size: 16px;
    /* color: #434a54;*/
    margin-top: 10px;
    margin-left: 16px;
}

.panel-blue .panel-body-title {
    margin-top: 10px;
}


/* END Panel ***********/


/* BEGIN Description panel ********/

#add-relation span {
    font-size: 11px;
}


/* END Description panel **********/


/* BEGIN CV left row *************/

#cv-content {
    position: relative;
    animation: fadein 0.9s ease-out;
}

@keyframes fadein {
    0% {
        opacity: 0;
        top: -40px;
    }
    40% {
        opacity: 0;
        top: -40px;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}


/* END CV left row **********/


/* BEGIN Footer *************/


/* Used to marging right after the logo footer on the small screen */

#footer-logo-div {
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 100px;
}

#footer-logo-div > a {
    color: #f6bb42;
}

.footer-copyright {
    font-size: 14px;
}

.footer {
    background-color: rgb(51, 51, 51);
}

body {
    font-size: 15px;
}

.row-strip {
    padding-left: 0;
    padding-right: 0;
}

.btn-default {
    background-color: #2998cd;
    color: #ffffff;
    border: #2998cd;
    top: 0;
    padding: 8px 10px 8px 8px;
    font-weight: 600;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.btn-redb {
    background-color: #DA4453;
    border-color: #DA4453;
}

.btn-yellowb {
    background-color: #F6BB42;
    border-color: #F6BB42;
}

.btn-greenb {
    background-color: #8cc152;
}

.btn-default:hover {
    top: -3px;
    background-color: #299fd8;
    color: #ffffff;
}

.btn-redb:hover {
    background-color: #DC3023;
}

.btn-yellowb:hover {
    background-color: #F5D76E;
}

.btn-greenb:hover {
    background-color: #9bcf50;
}

.btn-redb.disabled {
    background-color: #DC3023;
}

.btn-yellowb.disabled {
    background-color: #F5D76E;
}

.btn-greenb.disabled {
    /*background-color: #aab2bd;*/
    background-color: rgba(140, 187, 73, 0.85);
}


/* BEGIN Typographie ********/

.small-text {
    font-size: 14px;
    color: #7d8a9b;
}


/* END Typographie ********/


/**** CONNECTION PAGE ****************************/


/* BEGIN Connection page ******/

#connection-titles {
    margin-top: 10px;
    animation: con-title-anim 1s ease-out;
}

@keyframes con-title-anim {
    0% {
        opacity: 0;
        top: -60px;
    }
    40% {
        opacity: 0;
        top: -40px;
    }
    100% {
        opacity: 1;
        top: 0px;
    }
}

#title-content {
    margin: auto;
    width: 380px;
}

#main-title {
    margin-left: -61px;
}

#connection-titles h1 {
    display: inline;
    color: #fff;
}

#connection-titles #ee {
    margin-top: 0px;
    position: absolute;
    text-decoration: underline;
    animation: con-title-ee-anim 1.3s ease-out;
}

@keyframes con-title-ee-anim {
    0% {
        opacity: 0;
        margin-left: 30px;
    }
    75% {
        opacity: 0;
        margin-left: 30px;
    }
    100% {
        opacity: 1;
        margin-left: 0;
    }
}

#sub-title {
    color: #fff;
}

#sub-title {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 19px;
    font-weight: 500;
    margin-top: 20px;
    height: 19px;
    line-height: 19px;
    animation: con-sub-title-anim 1.8s ease-out;
}

@keyframes con-sub-title-anim {
    0% {
        opacity: 0;
        margin-top: 0px;
    }
    76% {
        opacity: 0;
        margin-top: 0px;
    }
    100% {
        opacity: 1;
        margin-top: 20px;
    }
}

.btn-base,
.btn-base:focus,
.btn-base:visited {
    color: white;
    background-color: transparent;
    border: white;
    border: 2px solid transparent;
}

.btn-base:hover {
    background-color: transparent;
    border: white;
    border: 2px solid #fff;
    transition: border 0.3s linear;
}

.btn-base:active {
    color: rgb(41, 152, 205);
    background-color: #fff;
    border: 2px solid #fff;
}

#togglers {
    margin-bottom: 35px;
}

#connection-page-forms .connect-btn {
    margin: 0 25px;
    width: 130px;
    animation: con-connect-btn-anim 1.8s ease-out;
}

@keyframes con-connect-btn-anim {
    0% {
        opacity: 0;
        margin: 0 0px;
    }
    71% {
        opacity: 0;
        margin: 0 0px;
    }
    100% {
        opacity: 1;
        margin: 0 25px;
    }
}

#connection-page-forms {
    margin-top: 30px;
    margin-bottom: 40px;
    min-height: 500px;
}

.connection-form {
    top: 0px;
    height: 0px;
    overflow: hidden;
    transition: height 0.3s ease-out, top 0.2s ease-in-out;
}

.connection-form .panel-blue {
    background-color: transparent;
    -webkit-box-shadow: 1px 2px 2px rgba(0, 0, 0, .4);
    -moz-box-shadow: 1px 2px 2px rgba(0, 0, 0, .4);
    transition: background-color 0s ease-out 0.6s, box-shadow 0.2s ease-in-out;
}

.connection-form.in .panel-blue {
    background-color: white;
    transition: background-color 0s linear;
    /*To cancel the incoming transitions */
}

.connection-form.delayin .panel-blue {
    background-color: white;
    transition: background-color 0s linear 0.5s;
    /*To cancel the incoming transitions */
}

.connection-form.in {
    overflow: hidden;
    transition: height 0.6s ease-out, top 0.2s ease-in-out;
}

.connection-form.delayin {
    overflow: hidden;
    transition: height 0.6s ease-out 0.5s, top 0.2s ease-in-out;
}

.connection-form.in:hover,
.connection-form.delayin:hover {
    top: -10px;
    -webkit-transition: top 0.2s ease-in-out;
    -moz-transition: top 0.2s ease-in-out;
    -o-transition: top 0.2s ease-in-out;
    transition: top 0.2s ease-in-out;
}

.connection-form:hover .panel-blue {
    -webkit-box-shadow: 3px 10px 10px rgba(0, 0, 0, .6);
    -moz-box-shadow: 3px 10px 10px rgba(0, 0, 0, .6);
    transition: box-shadow 0.2s ease-in-out;
}

.connection-form .panel-body {
    padding-top: 6px;
}

.connection-form .row {
    margin-top: 10px;
}

.form-group.has-feedback {
    margin-bottom: 0;
}


/* BEGIN Form prompts ****/

.error-msg {
    font-size: 15px;
    margin-top: 4px;
    color: #da4453;
    font-weight: 400;
}

.has-success .help-block.with-hint,
.has-error .help-block.with-hint,
.help-block.with-success,
.help-block.with-error {
    display: none;
}

.has-success .help-block.with-success {
    display: inline;
}

.has-error .help-block.with-error {
    display: inline;
}


/* END Form prompts ****/

.under {
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}

#not_found {
    margin-top: 50px;
    margin-bottom: 70px;
}


/* CV page */


/* Styling the bar itself */

#topbar {
    height: 60px;
    margin-top: -60px;
    /* has to be around the height of the bar or more. */
    display: block;
    z-index: 99998;
    width: 100%;
    background-color: #DA4453;
    overflow: hidden;
    color: #fff;
    font-size: 25px;
    vertical-align: middle;
    transition: margin-top 0.5s;
}

#notification {
    height: 60px;
    margin-top: 0;
    /*-60px; /* Has to be the height of the bar or more. */
    display: block;
    z-index: 99998;
    /* Under the navbar */
    width: 100%;
    overflow: hidden;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    animation: notification-in-anim 0.2s ease-out;
    padding: 17px;
}

@keyframes notification-in-anim {
    from {
        margin-top: -60px;
    }
    to {
        margin-top: 0;
    }
}

#notification.redb {
    background-color: #DA4453;
}

#notification.greenb {
    background-color: #8cc152;
}

#notification.out {
    margin-top: -60px;
    transition: all 0.2s ease-in;
}

#notification-closer {
    background-color: transparent;
    border-style: none;
    outline: none;
    float: right;
    width: 100%;
}

.hyperspan {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}


/* Editables System for edition *****/

.editable {
    position: relative;
    width: 100%;
    display: inline-block;
    transition: background-color 0.2s;
}

.editable div {
    display: inline-block;
    transition: background-color 0.5s;
}

.cv-bloc-element .editable .glyphicon {
    opacity: 0;
    font-size: 80%;
    transition: color 0.5s, opacity 0.5s;
}

.cv-bloc-element:hover .editable div {
    background-color: #d4d4d4;
    transition: background-color 0.5s;
}

.cv-bloc-element .editable div:hover  {
    background-color: #caecfc;
    transition: background-color 0.5s;
}
.cv-bloc-element .editable div:hover .glyphicon {
    color: #00a0dc;
    transition: color 0.5s;
}

.cv-bloc-element:hover .editable .glyphicon {
    opacity: 1;
}

.editable a {
    cursor: pointer;
}

.editor {
    height: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
    left: 40px;
    overflow: hidden;
    transition: height 0.25s linear, opacity 0.25s ease-out, left 0.25s ease-out;
}

.editor .row {
    height: 8px;
}

.editor.expand {
    height: 158px;
    padding: 0;
    left: 0;
    opacity: 1;
    transition: height 0.25s linear, opacity 0.25s ease-out, left 0.25s linear;
}

.editor.expand#title {
    height: 100px;
}

.editor.expand#country {
    height: 145px;
}

.editor.expand#formation {
    height: 115px;
}

.editor input,
.editor select {
    margin-top: 12px;
}

input.btn {
    margin-top: 0;
}

input.btn-default {
    margin-right: 4px;
}

.editor .btn {
    height: 34px;
}

select {
    -webkit-appearance: none;
    color: rgb(67, 74, 84);
    display: block;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    height: 34px;
    line-height: 20px;
    max-width: 100%;
    outline: rgb(67, 74, 84) none 0px;
    position: relative;
    width: 262.5px;
    z-index: 1;
}


/*
.demo {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

#equalheight {
    overflow: hidden;
}
*/