/* Useful to choose the grayscale antialiasing algorithm
during CSS animations */

html {
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: rgb(228, 235, 240);
}

#connection_body {
    background-color: #2998cd;
}


/* All body content but the footer and navbar&notifications */

#body-content {
    animation: opacityin 0.5s linear;
    padding-top: 201px;
}

#connection-body-content {
    animation: opacityin 0.5s linear;
    padding-top: 0;
}

#search-body-content {
    animation: opacityin 0.5s linear;
    padding-top: 100px;
}

#search-content {
    min-height: 400px;
}

@keyframes opacityin {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}


/* Begin Navbar *************/


/* Background color */

.navbbar-top {
    position: fixed;
    z-index: 99999;
    width: 100%;
    /*font-nbOfExperienceShown: 25px;*/
    text-align: center;
}


/* For the notification bug (could not collapsed on large screen) */

.navbbar-top .col-lg-12 {
    float: none;
}

.navbar-inverse {
    /*background-image: -webkit-linear-gradient(top, rgb(105, 105, 105) 0%, rgb(63, 63, 63) 100%);*/
    background-color: rgb(74, 74, 74);
    padding: auto;
    border: 0;
    /* Delet if no need */
    margin-bottom: 0;
    box-shadow: rgb(51, 51, 51) 0px 0px 10px 0px;
}


/*
.navbar-inverse .navbar-brand {
    -webkit-border-radius: 0 0 0 4px;
    -moz-border-radius: 0 0 0 4px;
}*/


/* BurgerMenu */

.navbar-inverse .navbar-toggle,
.navbar-inverse .navbar-toggle:focus {
    background-color: #2998cd;
    border: 0;
    margin: 0;
    width: 50px;
    height: 50px;
    border-radius: 0;
    padding: 13px;
    opacity: 0.9;
    transition: opacity 0.2s linear;
}

.navbar-inverse .navbar-toggle:hover {
    background-color: #299fd8;
    opacity: 1;
    transition: opacity 0.2s linear;
}

.navbar-inverse .navbar-toggle .icon-bar {
    width: 24px;
    background-color: #ffffff;
}


/* End of burger menu */


/* Profil cellule icon */

#profile-li span {
    margin-right: 7px;
}


/* Logout cellule icon */

#navbar-logout i {
    font-size: 14px;
    top: 2px;
}


/* FONT COLOR */

.navbar-inverse .navbar-nav > li > a {
    font-weight: 700;
    color: #ffffff;
    /* color: #434a54;*/
}


/* The form input */

.navbar-inverse .btn {
    font-weight: 700;
    background-color: #2a3439;
    border-color: #2a3439;
}

.navbar-inverse .btn:hover {
    background-color: #299fd8;
    border-color: #299fd8;
}

.navbar-inverse .form-control {
    padding-right: 30px;
    border: 0;
}

.navbar-inverse input[type="submit"] {
    height: 34px;
    margin: 0;
    font-weight: bold;
    padding: 6px 12px;
    margin-right: 17px;
}

.navbar-inverse span.input-group-btn {
    vertical-align: top;
    height: 34px;
    position: relative;
}

.navbar-inverse div.input-group.form-search {
    padding: 0;
    height: 34px;
    margin: 0;
}


/** Search autocomplet **/

#search-autocomplete {
    height: 100px;
    width: 200px;
    background-color: #ffffff;
    position: absolute;
    top: 60px;
}

.navbar-inverse .form-search .search-query {
    padding-left: 15px;
    border-radius: 0;
    /*border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;*/
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, .1);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, .1);
}

.navbar-inverse .btn {
    border-radius: 0;
    /*
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;*/
}


/* End of the form */


/* When Hover, BACKGROUND COLOR */

.navbar-inverse .navbar-brand:hover {
    background-color: #299fd8;
}

.navbar-inverse .navbar-nav > li > a:hover {
    background-color: #2998cd
}


/*
.navbar-inverse .navbar-brand:hover {
    border-bottom-left-radius: 4px;
    -webkit-border-radius: 0 0 0 4px;
    -moz-border-radius: 0 0 0 4px;
}*/

.navbar-inverse .navbar-nav > li > #navbar-logout:hover,
.navbar-inverse .navbar-nav > li.open > #navbar-logout:hover {
    background-color: #DA4453;
    color: #ffffff;
    border-bottom-right-radius: 4px;
    -webkit-border-radius: 0 0 4px 0;
    -moz-border-radius: 0 0 4px 0;
}

.navbar-inverse .navbar-nav > li.open > #navbar-logout,
.navbar-inverse .navbar-nav > li.open > a {
    background-color: white;
}


/* HIREANEMPLOYEE TITLE */

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-brand:focus {
    font-size: 24px;
    font-weight: 700;
    padding: auto 18px;
    background-color: rgb(74, 74, 74);
    ;
    color: #ffffff;
    line-height: 14px;
}

.ee-brand {
    color: #2998cd;
}

.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-nav > li > form .input-group {
    padding-right: 26px;
    padding-left: 26px;
}


/* Making the a filling all the li for the background color */

#navbar-logout {
    font-weight: 500;
    color: #ffffff;
    padding-right: 26px;
    padding-left: 26px;
}

@media (min-width: 923px) {
    #navbar-logout .glyphicon {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 922px) {
    .navbar-inverse .navbar-nav > li > a,
    .navbar-inverse .navbar-nav > li > form .input-group {
        padding-right: 13px;
        padding-left: 13px;
    }
    #navbar-logout #logout-text {
        display: none;
    }
}


/* Menu burger */

@media (max-width: 767px) {
    .navbar-inverse .navbar-nav > li > a,
    .navbar-inverse .navbar-nav > li > form .input-group {
        padding-right: 13px;
        padding-left: 13px;
    }
    .navbar-inverse .navbar-nav > li {
        border: 0;
    }
    .navbar-inverse .navbar-nav > li > form .input-group {
        margin: auto;
        width: 100%;
    }
    /*  .navbar-inverse .navbar-nav #navbar-input:hover {
        background-color: #000000;
    } */
    #navbar-logout #logout-text {
        /* display: none;*/
    }
}


/*** COLLAPSE ***/

.navbar-inverse .navbar-collapse,
.navbar-collapse .navbar-form {
    border: 0;
}


/* END Navbar *************/

h1,
h2,
h3,
h4,
h5,
p {
    color: #333;
}


/* BEGIN Top Photo *************/

.top-photo {
    position: absolute;
    width: 100%;
    top: 0;
    background-color: rgb(228, 235, 240);
    /*background-color: rgb(74, 74, 74);*/
    height: 301px;
    align-content: center;
}

.top-photo a {
    display: inline-block;
    margin-top: 91px;
    color: rgba(67, 74, 84, 0.53);
}

.top-photo a:hover {
    color: #5D9CEC;
}

.top-photo span {
    top: 3px;
    margin-right: 6px;
}


/* BEGIN Pannel *************/

.panel-blue {
    background-color: #ffffff;
}

.panel-blue .panel-heading {
    height: 70px;
    padding: 16px auto auto;
}


/* Panel-blue transition */

.panel-blue img#profil {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.panel-blue {
    box-shadow: 0 1px 0.5px rgba(0, 0, 0, .4);
}


/*
.panel-blue .panel-heading {
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}*/

.panel-blue:hover {
    /* background-color: #c2deff; */
    /* background-color: #FFFFFC; */
}

.panel-blue img#profil {
    top: 0;
    position: relative;
}

.panel-blue:hover img#profil {
    top: -10px;
    -webkit-box-shadow: 3px 10px 10px rgba(0, 0, 0, .6);
    -moz-box-shadow: 3px 10px 10px rgba(0, 0, 0, .6);
    transition: top 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.panel-blue .panel-title .glyphicon {
    font-size: 160%;
}

.panel-blue .panel-title {
    font-weight: 700;
    font-size: 16px;
    /* color: #434a54;*/
    margin-top: 10px;
    margin-left: 16px;
}

.panel-blue .panel-body-title {
    margin-top: 10px;
}


/* END Panel ***********/


/* BEGIN Description panel ********/

#add-relation span {
    font-size: 11px;
}


/* END Description panel **********/


/* BEGIN CV left row *************/

#cv-content {
    /*border-radius: 4px;*/
    /*border: 1px solid #2eb2f0;*/
    position: relative;
    animation: fadein 0.9s ease-out;
}

#cv-left-row {
    /*padding-left: 0;*/
}

@keyframes fadein {
    0% {
        opacity: 0;
        top: -40px;
    }
    40% {
        opacity: 0;
        top: -40px;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}


/* END CV left row **********/


/* BEGIN Footer *************/


/* Used to marging right after the logo footer on the small screen */

#footer-logo-div {
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 100px;
}

#footer-logo-div > a {
    color: #f6bb42;
}

.footer-copyright {
    font-size: 14px;
}

.footer {
    background-color: rgb(51, 51, 51);
}

body {
    font-size: 15px;
}

.row-strip {
    padding-left: 0;
    padding-right: 0;
}

.btn-default {
    background-color: #2998cd;
    color: #ffffff;
    border: #2998cd;
    top: 0;
    padding: 8px 10px 8px 8px;
    font-weight: 600;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.btn-redb {
    background-color: #DA4453;
    border-color: #DA4453;
}

.btn-yellowb {
    background-color: #F6BB42;
    border-color: #F6BB42;
}

.btn-greenb {
    background-color: #8cc152;
}

.btn-default:hover {
    top: -3px;
    background-color: #299fd8;
    color: #ffffff;
}

.btn-redb:hover {
    background-color: #DC3023;
}

.btn-yellowb:hover {
    background-color: #F5D76E;
}

.btn-greenb:hover {
    background-color: #9bcf50;
}

.btn-redb.disabled {
    background-color: #DC3023;
}

.btn-yellowb.disabled {
    background-color: #F5D76E;
}

.btn-greenb.disabled {
    /*background-color: #aab2bd;*/
    background-color: rgba(140, 187, 73, 0.85);
}


/* BEGIN Typographie ********/

.small-text {
    font-size: 14px;
    color: #7d8a9b;
}


/* END Typographie ********/


/**** CONNECTION PAGE ****************************/


/* BEGIN Connection page ******/

#connection-titles {
    margin-top: 10px;
    animation: con-title-anim 1s ease-out;
}

@keyframes con-title-anim {
    0% {
        opacity: 0;
        top: -60px;
    }
    40% {
        opacity: 0;
        top: -40px;
    }
    100% {
        opacity: 1;
        top: 0px;
    }
}

#title-content {
    margin: auto;
    width: 380px;
}

#main-title {
    margin-left: -61px;
}

#connection-titles h1 {
    display: inline;
    color: #fff;
}

#connection-titles #ee {
    margin-top: 0px;
    position: absolute;
    text-decoration: underline;
    animation: con-title-ee-anim 1.3s ease-out;
}

@keyframes con-title-ee-anim {
    0% {
        opacity: 0;
        margin-left: 30px;
    }
    75% {
        opacity: 0;
        margin-left: 30px;
    }
    100% {
        opacity: 1;
        margin-left: 0;
    }
}

#sub-title {
    color: #fff;
}

#sub-title {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 19px;
    font-weight: 500;
    margin-top: 20px;
    height: 19px;
    line-height: 19px;
    animation: con-sub-title-anim 1.8s ease-out;
}

@keyframes con-sub-title-anim {
    0% {
        opacity: 0;
        margin-top: 0px;
    }
    76% {
        opacity: 0;
        margin-top: 0px;
    }
    100% {
        opacity: 1;
        margin-top: 20px;
    }
}

.btn-base,
.btn-base:focus,
.btn-base:visited {
    color: white;
    background-color: transparent;
    border: white;
    border: 2px solid transparent;
}

.btn-base:hover {
    background-color: transparent;
    border: white;
    border: 2px solid #fff;
    transition: border 0.3s linear;
}

.btn-base:active {
    color: rgb(41, 152, 205);
    background-color: #fff;
    border: 2px solid #fff;
}

#togglers {
    margin-bottom: 35px;
}

#connection-page-forms .connect-btn {
    margin: 0 25px;
    width: 130px;
    animation: con-connect-btn-anim 1.8s ease-out;
}

@keyframes con-connect-btn-anim {
    0% {
        opacity: 0;
        margin: 0 0px;
    }
    71% {
        opacity: 0;
        margin: 0 0px;
    }
    100% {
        opacity: 1;
        margin: 0 25px;
    }
}

#connection-page-forms {
    margin-top: 30px;
    margin-bottom: 40px;
    min-height: 500px;
}

.connection-form {
    top: 0px;
    height: 0px;
    overflow: hidden;
    transition: height 0.3s ease-out, top 0.2s ease-in-out;
}

.connection-form .panel-blue {
    background-color: transparent;
    -webkit-box-shadow: 1px 2px 2px rgba(0, 0, 0, .4);
    -moz-box-shadow: 1px 2px 2px rgba(0, 0, 0, .4);
    transition: background-color 0s ease-out 0.6s, box-shadow .2s ease-in-out;
}

.connection-form.in .panel-blue {
    background-color: white;
    transition: background-color 0s linear, box-shadow 0.2s ease-in-out;
    /*To cancel the incoming transitions */
}

.connection-form.delayin .panel-blue {
    background-color: white;
    transition: background-color 0s linear 0.5s, box-shadow 0.2s ease-in-out;
    /*To cancel the incoming transitions */
}

.connection-form.in {
    overflow: hidden;
    transition: height 0.6s ease-out, top 0.2s ease-in-out;
}

.connection-form.delayin {
    overflow: hidden;
    transition: height 0.6s ease-out 0.5s, top 0.2s ease-in-out;
}

.connection-form.in:hover,
.connection-form.delayin:hover {
    top: -10px;
    -webkit-transition: top 0.2s ease-in-out;
    -moz-transition: top 0.2s ease-in-out;
    -o-transition: top 0.2s ease-in-out;
    transition: top 0.2s ease-in-out;
}

.connection-form:hover .panel-blue {
    -webkit-box-shadow: 3px 10px 10px rgba(0, 0, 0, .6);
    -moz-box-shadow: 3px 10px 10px rgba(0, 0, 0, .6);
    transition: box-shadow 0.2s ease-in-out;
}

.connection-form .panel-body {
    padding-top: 6px;
}

.connection-form .row {
    margin-top: 10px;
}

.form-group.has-feedback {
    margin-bottom: 0;
}


/* BEGIN Form prompts ****/

.error-msg {
    font-size: 15px;
    margin-top: 4px;
    color: #da4453;
    font-weight: 400;
}

.has-success .help-block.with-hint,
.has-error .help-block.with-hint,
.help-block.with-success,
.help-block.with-error {
    display: none;
}

.has-success .help-block.with-success {
    display: inline;
}

.has-error .help-block.with-error {
    display: inline;
}


/* END Form prompts ****/

.under {
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}

#not_found {
    margin-top: 50px;
    margin-bottom: 70px;
}


/* CV page */


/* Styling the bar itself */

#topbar {
    height: 60px;
    margin-top: -60px;
    /* has to be around the height of the bar or more. */
    display: block;
    z-index: 99998;
    width: 100%;
    background-color: #DA4453;
    overflow: hidden;
    color: #fff;
    font-size: 25px;
    vertical-align: middle;
    transition: margin-top 0.5s;
}

#notification {
    height: 60px;
    margin-top: 0;
    /*-60px; /* Has to be the height of the bar or more. */
    display: block;
    z-index: 99998;
    /* Under the navbar */
    width: 100%;
    overflow: hidden;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    animation: notification-in-anim 0.2s ease-out;
    padding: 17px;
}

@keyframes notification-in-anim {
    from {
        margin-top: -60px;
    }
    to {
        margin-top: 0;
    }
}

#notification.redb {
    background-color: #DA4453;
}

#notification.greenb {
    background-color: #8cc152;
}

#notification.out {
    margin-top: -60px;
    transition: all 0.2s ease-in;
}

#notification-closer {
    background-color: transparent;
    border-style: none;
    outline: none;
    float: right;
    width: 100%;
}

.hyperspan {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}


/* Editables System for edition - Description *****/

.editable {
    position: relative;
    width: 100%;
    display: inline-block;
    transition: background-color 0.2s;
}

.editable div {
    display: inline-block;
    transition: background-color 0.5s;
}

.cv-bloc-element .editable .glyphicon {
    opacity: 0;
    font-size: 80%;
    transition: color 0.5s, opacity 0.5s;
}

#description-container .editable div:hover div,
#description-container:hover .editable div,
.mycv-editable-container:hover .editable div,
.cv-bloc-element .show-editable div {
    background-color: #eaeaea;
    transition: background-color 0.5s;
}

#description-container .editable div:hover,
.cv-bloc-element .editable div:hover {
    background-color: #caecfc;
    transition: background-color 0.5s;
}

#description-container .editable div:hover,
.cv-bloc-element .editable div:hover *,
.cv-bloc-element .editable div:hover .glyphicon {
    color: #00a9e8;
    transition: color 0.2s;
}

.cv-bloc-element .editable div:hover .panel-body-title {
    color: #333;
}

#description-container:hover .editable div .glyphicon,
.mycv-editable-container:hover .editable div .glyphicon,
.cv-bloc-element .show-editable .glyphicon {
    opacity: 1;
}

.editable a {
    cursor: pointer;
}

.editor {
    height: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
    left: 40px;
    overflow: hidden;
    transition: height 0.25s linear, opacity 0.25s ease-out, left 0.25s ease-out;
}

.editor .row {
    height: 8px;
}

.editor.expand {
    height: 158px;
    padding: 0;
    left: 0;
    opacity: 1;
    transition: height 0.25s linear, opacity 0.25s ease-out, left 0.25s linear;
}

.editor.expand#title {
    height: 100px;
}

.editor.expand#country {
    height: 145px;
}

.editor.expand#formation {
    height: 115px;
}

.editor input,
.editor select {
    margin-top: 12px;
}

input.btn {
    margin-top: 0;
}

input.btn-default {
    margin-right: 4px;
}

.editor .btn {
    height: 34px;
}

select {
    /*-webkit-appearance: none;*/
    color: rgb(67, 74, 84);
    display: block;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    height: 34px;
    line-height: 20px;
    max-width: 100%;
    outline: rgb(67, 74, 84) none 0px;
    position: relative;
    width: 262.5px;
    z-index: 1;
}


/* END OF System for edition - Description ****/


/* BEGIN OF System for edition - MYCV
    Used to edit any content of the cv (except the description)
    When the user is looking at its "own cv".
****/

.mycv-description {
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.25s ease-in;
}

.mycv-description.expand {
    opacity: 1;
    overflow: hidden;
    transition: opacity 0.25s ease-in 0.25s;
}

.mycv-editor {
    /* Used to block inputs on the editor when not expanded */
    pointer-events: none;
    cursor: default;
    position: absolute;
    opacity: 0;
    width: 90%;
    overflow: hidden;
    transition: opacity 0.2s linear;
}

.mycv-editor.expand {
    pointer-events: auto;
    cursor: auto;
    opacity: 1;
    transition: opacity 0.25s linear 0.9s;
}

.mycv-editable-container {
    height: 10px;
    transition: height 0.945s ease-out 0.25s;
}

.mycv-editable-container.expand {
    height: 578px;
    transition: height 0.45s ease-out 0.25s;
}

.formation-editable-container {
    height: 10px;
    transition: height 0.945s ease-out 0.25s;
}

.mycv-editable-container.expand.formation-container-height {
    height: 574px;
    transition: height 0.45s ease-out 0.25s;
}

.mycv-description a {
    pointer-events: none;
    cursor: default;
}

.mycv-description.expand a {
    pointer-events: auto;
    cursor: pointer;
}

.mycv-editor.expand .btn {
    pointer-events: auto;
    cursor: pointer;
}

.mycv-editor .btn,
.mycv-editor.expand .btn.disabled {
    pointer-events: none;
    cursor: default;
}


/* The form by itself ****/


/* Dates have ugly paddings unuseful... */

.form-control.editor-date-input {
    padding-right: 12px;
    padding-left: 12px;
}

.mycv-form .editor-date-input {
    margin-left: 0;
    height: 30px;
    padding-right: 4px;
    padding-left: 8px;
    float: right;
    margin-right: 0;
}

.mycv-form select {
    font-size: 12px;
    font-weight: 600;
    height: 30px;
}

.mycv-form label {
    font-size: 14px;
    font-weight: 600;
}

.mycv-form input {
    font-size: 13px;
    font-weight: 600;
}

.mycv-form .row {
    margin-bottom: 10px;
}

.mycv-form textarea {
    resize: none;
}

.mycv-form .help-block.with-error {
    font-size: 12px;
    ;
}


/* End of the editor */


/* Begin of the add-experience button */

#cv-add-experience {
    display: block;
    padding: 8px;
    font-size: 16px;
    font-weight: 800;
    background-color: #eaeaea;
    color: #838383;
    border: 0;
    transition: color 0.25s, background-color 0.25s;
}

#cv-add-experience:hover {
    background-color: #ddf4ff;
    color: #51bee6;
    transition: color 0.25s, background-color 0.25s;
}

.no-margin-left {
    margin-left: 0;
}

.no-padding-right {
    padding-right: 0;
}

.row.no-margin-bot {
    margin-bottom: 0;
}

.remove-mycv-entry {
    font-weight: 500;
    font-size: 14px;
    margin-left: 4px;
    color: #3296ba;
    background: transparent no-repeat;
    border: none;
}

.my-token,
.my-token-hint {
    margin-top: 10px;
    height: 30px;
}

.my-token {
    border-radius: 4px;
    height: 30px;
    font-size: 13px;
    margin: 0;
    margin-top: 10px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    /* width: 400px;*/
    background-color: #fff;
    border: 0;
}

.my-token-hint {
    vertical-align: middle;
    padding-top: 3px;
}


/* Inner score */

.my-token-score {
    display: inline-block;
    float: left;
    border-radius: 4px 0 0 4px;
    text-align: center;
    font-weight: 800;
    width: 30px;
    height: 30px;
    background-color: rgb(74, 74, 74);
    background-color: #2998cd;
}

.my-token-btn {
    display: inline-block;
    float: right;
    height: 30px;
    width: 30px;
    border-left: solid 1px #bec9ce;
}

.my-token-btn span {
    color: #2998cd;
}

.my-token-btn span.inactive {
    color: #bec9ce;
}

.my-token-btn:hover + my-token-hint {
    margin-right: 10px;
}

.my-token-btn:hover {
    background-color: #cbcbcb;
    border-radius: 0 4px 4px 0;
}

.my-token-hint p {
    color: white;
}


/* Inner label */

.my-token p {
    display: inline;
    padding: 0;
    margin: 0;
    color: black;
}

.my-token-name {}

.main-blue-panel {
    background-color: rgb(74, 74, 74);
}

.my-token *,
.main-blue-panel #skills-title,
.main-blue-panel #skills-title-add,
.main-blue-panel h1 {
    color: white;
}

#skills-add-editor {
    padding-top: 8px;
}

#skills-tokens-group {
    margin-bottom: 20px;
}

.search-link {
    background: transparent no-repeat;
    border: none;
    font-weight: 700;
    color: #3290ba;
}

.search-group-title {
    margin-bottom: 0;
}

.search-group-sub-title {
    font-size: 14px;
    color: #7d8a9b;
    margin-bottom: 0;
}

.search-group-img {
    max-width: 17%;
    max-height: 17%;
}

.search-group-competence {
    color: #43a131;
    font-weight: 400;
    font-size: 13px;
}

.search-group .dashed {
    width: 110%;
}

@media (max-width: 767px) {
    .search-group .dashed {
        width: 100%;
    }
}

#search-panel-hint-step {
    color: white;
    max-height: 410px;
    overflow: hidden;
    opacity: 1;
    padding: 0;
    transition: max-height 0.8s ease-out, opacity 0.3s linear;
}

#search-panel-hint-content {
    max-width: 580px;
    margin: auto auto;
}

#search-panel-hint-content div {
    display: inline-block;
    float: none;
    clear: both;
    max-height: 70px;
    max-width: 280px;
}

#search-panel-hint-step.closeAnimation {
    max-height: 0;
    opacity: 0;
}

.employee-add-cvlist {
    top: 60px;
    padding: 5px;
    right: 0;
    position: absolute;
    background-color: #ffffff;
    width: 100px;
    height: 100px;
    border-radius: 0 0 4px 4px;
    border: 1px solid #b2b6bc;
    box-shadow: 0 1.5px 1.5px rgba(0, 0, 0, .5);
}

.employee-add-cvlist .form-group {
    margin-bottom: 4px;
}

.search-ul-list {
    list-style-type: none;
    padding-left: 4px;
    font-size: 14px;
}

input[type="checkbox"].search-checkbox {
    /*Desired sz*/
    margin-right: 5px;
    padding: 0;
    padding-bottom: 100px;
    cursor: pointer;
}

#advanced-filter select {
    width: 120px;
    font-size: 12px;
    font-weight: 600;
    height: 20px;
    display: inline;
}

#advanced-filter .dashed {
    margin-top: 10px;
}

#advanced-filter input[type="text"] {
    display: inline-block;
    width: 60px;
    padding-bottom: 4px;
    height: 36px;
    border-radius: 4px;
}

#advanced-filter input[type=submit] {
    margin-left: 3px;
}

p.white {
    color: #ffffff;
}