body {
    background-color: #f1f2f6;
}


/* Begin Navbar *************/


/* Background color */

.navbbar-top {
    position:fixed;
    z-index: 99999;
    width: 100%;
    /*font-size: 25px;*/
    text-align: center;
}

.navbar-inverse {
    background-color: #ffffff;
    padding: auto;
    border: 1px solid #aab2bd;
    /*height: 51px;*/
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    margin-bottom: 0;
}

/*
.navbar-inverse .navbar-brand {
    -webkit-border-radius: 0 0 0 4px;
    -moz-border-radius: 0 0 0 4px;
}*/


/* BurgerMenu */

.navbar-inverse .navbar-toggle,
.navbar-inverse .navbar-toggle:focus {
    background-color: #FFCE54;
    border-color: #FFCE54;
    border-radius: 0;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #ffffff;
}


/* End of burger menu */


/* Profil cellule icon */

#profile-li span {
    margin-right: 7px;
}


/* Logout cellule icon */

#navbar-logout i {
    font-size: 14px;
    top: 2px;
}


/* FONT COLOR */

.navbar-inverse .navbar-nav>li>a {
    font-weight: 700;
    color: #434a54;
}


/* The form input */

.navbar-inverse .btn {
    font-weight: 700;
    background-color: #5D9CEC;
    border-color: #5D9CEC;
}

.navbar-inverse .form-control {
    padding-right: 30px;
}

.navbar-inverse .form-search .search-query {
    padding-left: 15px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    -webkit-box-shadow: inset 2px 2px 1px rgba(0, 0, 0, .1);
    -moz-box-shadow: inset 2px 1px 2px rgba(0, 0, 0, .1);
}

.navbar-inverse .btn {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.navbar-inverse .btn:hover {
    background-color: #19B5FE;
    border-color: #19B5FE;
}


/* End of the form */


/* When Hover, BACKGROUND COLOR */

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-brand:hover {
    background-color: #FFCE54;
    border-color: #FFCE54;
}

/*
.navbar-inverse .navbar-brand:hover {
    border-bottom-left-radius: 4px;
    -webkit-border-radius: 0 0 0 4px;
    -moz-border-radius: 0 0 0 4px;
}*/

.navbar-inverse .navbar-nav>li>#navbar-logout:hover {
    background-color: #DA4453;
    color: #ffffff;
    border-bottom-right-radius: 4px;
    -webkit-border-radius: 0 0 4px 0;
    -moz-border-radius: 0 0 4px 0;
}


/* HIREANEMPLOYEE TITLE */

.navbar-inverse .navbar-brand {
    font-size: 24px;
    font-weight: 700;
    background-color: #DA4453;
    color: #ffffff;
}

.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-nav>li>form .input-group {
    padding-right: 26px;
    padding-left: 26px;
}


/* Making the a filling all the li for the background color */

#navbar-logout {
    font-weight: 500;
    color: #7d8a9b;
    padding-right: 26px;
    padding-left: 26px;
}

@media (max-width:990px) {
    .navbar-inverse .navbar-nav>li>a,
    .navbar-inverse .navbar-nav>li>form .input-group {
        padding-right: 13px;
        padding-left: 13px;
    }
    #navbar-logout #logout-text {
        display: none;
    }
}


/*** COLLAPSE ***/

.navbar-inverse .navbar-collapse,
.navbar-collapse .navbar-form {
    border: 0;
}


/* END Navbar *************/


/* BEGIN Top Photo *************/

.top-photo {
    height: 201px;
    align-content: center;
}

.top-photo a {
    display: inline-block;
    margin-top: 91px;
    color: #434a54;
    font-weight: 100;
}

.top-photo a:hover {
    color: #5D9CEC;
}

.top-photo span {
    top: 3px;
    margin-right: 6px;
}


/* BEGIN Pannel *************/

.panel-blue {
    background-color: #ffffff;
}

.panel-blue .panel-heading {
    height: 50px;
    padding: auto;
    padding-top: 16px;
}


/* Panel-blue transition */

.panel-blue img,
.panel-blue .panel-heading {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.panel-blue:hover {
    background-color: #FFFFFC;
}

.panel-blue img {
    top: 0;
    position: relative;
}

.panel-blue:hover img {
    top: -4px;
    -webkit-box-shadow: 2px 4px 8px rgba(0, 0, 0, .1);
    -moz-box-shadow: 2px 4px 8px rgba(0, 0, 0, .1);
}

.panel-blue .panel-title {
    font-weight: 700;
    font-size: 15px;
    color: #434a54;
    margin-top: 10px;
    margin-left: 16px;
}

.panel-blue .panel-body-title {
    margin-top: 10px;
}


/* END Panel ***********/


/* BEGIN Description panel ********/

#add-relation span {
    font-size: 11px;
}


/* END Description panel **********/


/* BEGIN CV left row *************/

#cv-content {
    position: relative;
    animation: fadein 0.4s linear;
}

@keyframes fadein {
    from {
        opacity: 0;
        top: -40px;
    }
    to {
        opacity: 1;
        top: 0;
    }
}

@keyframes collapse-out-cv {
    from {
        max-height: 0;
    }
    to {
        max-height: 2000px;
    }
}


/* END CV left row **********/


/* BEGIN Footer *************/


/* Used to marging right after the logo footer on the small screen */

#footer-logo-div {
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 100px;
}

#footer-logo-div >a {
    color: #FFCE54;
}

.footer-copyright {
    font-size: 14px;
}

.footer {
    background-color: #434a54;
}

body {
    font-size: 16px;
}

.row-strip {
    padding-left: 0;
    padding-right: 0;
}

.btn-default {
    background-color: #5D9CEC;
    color: #ffffff;
    border: #5D9CEC;
    top: 0;
    padding: 8px 10px 8px 8px;
    font-weight: 600;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.btn-redb {
    background-color: #DA4453;
    border-color: #DA4453;
}
.btn-yellowb {
    background-color: #F6BB42;
    border-color: #F6BB42;
}

.btn-default:hover {
    top: -3px;
    background-color: #19B5FE;
    color: #ffffff;
}

.btn-redb:hover {
    background-color: #DC3023;
}

.btn-yellowb:hover {
    background-color: #F5D76E;
}

/* BEGIN Typographie ********/

.small-text {
    font-size: 14px;
    color: #7d8a9b;
}


/* END Typographie ********/


/**** CONNECTION PAGE ****************************/
#connection-page-forms {
    margin-top: 40px;
    margin-bottom: 40px;
}
.connection-form .panel-blue,
.connection-form {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.hidden-pannel {
    opacity: 0.4;
}

.hidden-pannel:hover,
.hidden-pannel:focus {
    opacity: 1;
}

.connection-form .panel-blue {
    position: relative;
    top: 0;
    animation: fadein 0.4s linear;
}

.connection-form .panel-blue:hover {
    top: -4px;
    -webkit-box-shadow: 2px 4px 8px rgba(0, 0, 0, .1);
    -moz-box-shadow: 2px 4px 8px rgba(0, 0, 0, .1);
}

.connection-form .panel-body {
    padding-top: 6px;
}

.connection-form .row {
    margin-top: 10px;
}

.under {
    text-decoration: underline;
}
.bold {
    font-weight: bold;
}
/* CV page */
/* Styling the bar itself */
#topbar {
    height: 60px;
    margin-top: -60px; /* has to be around the height of the bar or more. */
    display: block;
    z-index: 99998;
    width: 100%;
    background-color: #DA4453;
    overflow: hidden;
    color: #fff;
    font-size: 25px;
    vertical-align: middle;
    transition: margin-top 0.5s;
}

#topbar div p {
    display: inline;
    float: none;
    font-size: 24px;
    font-weight: 400;
}

/* Hiding the checkbox */
#toggleTop {
    display: none;
}
/* Styling the lables, to show and hide the bar */
#showTop {
    position: fixed;
    z-index: 9999;
    top: 100px;
    right: 30px;
    display: block;
    padding: 10px;
    background-color: #000000;
    color: #fff;
}

#hideTop {
    float: right;
    display: inline-block;
}
/* Displaying the bar when the checkbox is checked */
#toggleTop + #topbar {
    transition: all 0.2s ease-in-out;
    margin-top: 0;
}
/*
.demo {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

#equalheight {
    overflow: hidden;
}
*/